<div class="jumbotron jumbotron-fluid">
  <div class="container">  
    <h1 class="display-4">Seja Bem-Vindo!</h1>
    <p class="lead">Este é o Crypto_Wallet, uma app para você cadastrar e acompanhar as suas cryptomoedas</p>
    <hr class="my-4">
    <p>Para começar, selecione uma das opções abaixo.</p>
   
<%= render 'menu' %>
  </div> 
</div>

